# Dictionary in Python

In [24]:
record1 = {
    "name" : "Arifa",
    "degree" : "MS(CSIT)",
    "University" : "Dha Suffa University"
}
print(type(record1))

<class 'dict'>

In [6]:
print(len(record1))

3

In [9]:
#retrieval of values 
# String, lists, tuple, set and dictionary retrievals are done using [] brackets 
print(record1['name'])

Arifa

In [11]:
#Update
record1.update({"passingyear":2014})

In [12]:
print(record1)

{'name': 'Arifa', 'degree': 'MS(CSIT)', 'University': 'Dha Suffa University', 'passingyear': 2014}

In [13]:
#delete 
#there are 3 ways del, pop , popitem

#make copy of the dictionary 
record1_cpy = record1z

In [16]:
print(record1_cpy)

{'degree': 'MS(CSIT)', 'University': 'Dha Suffa University', 'passingyear': 2014}

In [15]:
del record1_cpy['name']

In [17]:
record1.pop('degree')
record1

{'University': 'Dha Suffa University', 'passingyear': 2014}

In [25]:
print(record1_cpy.popitem())
type(record1_cpy.popitem())

KeyError: 'popitem(): dictionary is empty'

In [22]:
print(record1_cpy.pop("University"))
type(record1_cpy.pop("University"))

KeyError: 'University'

In [28]:
sheet = { 1 : "Ahmed" , 2:"Arifa", 3:"Zahid" , 4:"Salma" , 5:"Sajida"}
print(sheet)

{1: 'Ahmed', 2: 'Arifa', 3: 'Zahid', 4: 'Salma', 5: 'Sajida'}

In [38]:
#import pandas as pd
#pd.DataFrame(sheet)
for x in sheet:
    print(x, sheet[x])

1 Ahmed
2 Arifa
3 Zahid
4 Salma
5 Sajida

In [39]:
#dictionary with list as value
sales = {
    'items' : ["Laptops", "glint", "Vim", "air freshner"],
    'price' : [500000,500,200,280]
}
import pandas as pd
pd.DataFrame(sales)

          items   price
0       Laptops  500000
1         glint     500
2           Vim     200
3  air freshner     280

In [40]:
sheet

{1: 'Ahmed', 2: 'Arifa', 3: 'Zahid', 4: 'Salma', 5: 'Sajida'}

In [44]:
sheet.items()

dict_items([(1, 'Ahmed'), (2, 'Arifa'), (3, 'Zahid'), (4, 'Salma'), (5, 'Sajida')])

In [42]:
sheet.values()

dict_values(['Ahmed', 'Arifa', 'Zahid', 'Salma', 'Sajida'])

In [46]:
newsheet = {'a':"Aaa" , "b":"Bbb"}

In [47]:
sheet + newsheet

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [48]:
sheet.fromkeys(newsheet)

{'a': None, 'b': None}

In [49]:
sheet

{1: 'Ahmed', 2: 'Arifa', 3: 'Zahid', 4: 'Salma', 5: 'Sajida'}

In [51]:
sheet = sheet.fromkeys(newsheet)

In [52]:
sheet

{'a': None, 'b': None}

In [53]:
sheet

{'a': None, 'b': None}

In [54]:
#fromkeys method broadcast a single value for all iterable items
contacts = "Arifa", "Zahid","Sajida","Fatima"
notify = "Gettogether at 1 PM tomorrow"

newbroadcast = dict.fromkeys(contacts,notify)
newbroadcast

{'Arifa': 'Gettogether at 1 PM tomorrow',
 'Zahid': 'Gettogether at 1 PM tomorrow',
 'Sajida': 'Gettogether at 1 PM tomorrow',
 'Fatima': 'Gettogether at 1 PM tomorrow'}

In [57]:
del dict

In [58]:
listn = dict([(3,4)])
listn

{3: 4}

In [61]:
d = dict({(4,5)})

In [63]:
type(d)

dict

In [64]:
a = {len:"a"}

In [65]:
a

{<function len(obj, /)>: 'a'}

In [66]:
a = {(3+2j):"A"}

In [67]:
a

{(3+2j): 'A'}

In [68]:
a = {sheet:"A"}

TypeError: unhashable type: 'dict'

In [71]:
a = {(1,2),"A"}

In [72]:
a

{(1, 2), 'A'}

In [73]:
bset = {}

In [74]:
type(bset)

dict

In [75]:
cset = {1}

In [76]:
type(cset)

set

In [81]:
aset = {4,5,7,8,6,5}
aset.remove(10)

KeyError: 10

In [79]:
aset

{5, 6, 7, 8}

In [80]:
aset.discard(6)

In [83]:
aset.add(88)

In [87]:
bset = aset.copy()
bset

{4, 5, 6, 7, 8, 88}

In [88]:
bset

{4, 5, 6, 7, 8, 88}

In [89]:
print(bset)

{4, 5, 6, 7, 8, 88}

In [90]:
bset.isdisjoint(aset)

False

In [91]:
aset

{4, 5, 6, 7, 8, 88}

In [92]:
bset

{4, 5, 6, 7, 8, 88}