In [24]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
import matplotlib.pyplot as plt
from mlxtend.plotting import plot_decision_regions
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [8]:
df = pd.read_csv('data files/gender_classification.csv')

In [9]:
df.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [10]:
df.shape

(5001, 8)

In [12]:
df.gender.value_counts()

Female    2501
Male      2500
Name: gender, dtype: int64

In [14]:
encoder = LabelEncoder()

In [16]:
df.gender = encoder.fit_transform(df.gender)

In [17]:
df

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,1
1,0,14.0,5.4,0,0,1,0,0
2,0,11.8,6.3,1,1,1,1,1
3,0,14.4,6.1,0,1,1,1,1
4,1,13.5,5.9,0,0,0,0,0
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,0
4997,1,11.9,5.4,0,0,0,0,0
4998,1,12.9,5.7,0,0,0,0,0
4999,1,13.2,6.2,0,0,0,0,0
5000,1,15.4,5.4,1,1,1,1,1

In [18]:
df.gender.unique()

array([1, 0])

In [19]:
#Shuffling the data in dataframe
df = df.sample(5001)

In [22]:
df.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
1405,1,13.4,6.4,0,0,0,0,0
1477,0,14.4,6.0,1,1,1,1,1
1362,1,13.5,6.6,1,0,1,1,1
3656,1,12.0,5.3,0,0,0,0,0
3364,0,12.3,6.3,0,1,1,0,0

In [27]:
df_train = df.iloc[:4000,:].sample(2000)
df_val = df.iloc[4001:4500,:].sample(200)
df_test = df.iloc[4501:5001,:].sample(200)

In [30]:
df_train.count()

long_hair                    2000
forehead_width_cm            2000
forehead_height_cm           2000
nose_wide                    2000
nose_long                    2000
lips_thin                    2000
distance_nose_to_lip_long    2000
gender                       2000
dtype: int64

In [44]:
#Splitting the validation data into X(input), and y(output) variable
X_val = df_val.iloc[:,:7].values
y_val = df_val.iloc[:,-1].values